@import '../../variables.scss';

.mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-color: rgba($gray-text-color, 0.6);
    z-index: 100;
    transition: top 0.5s ease-in-out;
    @media(max-height: 700px) {
        height: 100vh;
    }
    &--active {
        top: 0;
    }
}