@import '../../variables.scss';

.form {
    margin-top: 30px;
    &__heading {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
        @media(max-width: 600px) {
            text-align: center;
        }
    }
    &__block{ 
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-line-color;
        @media(max-width: 900px) {
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        @media(max-width: 900px) {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    &__title {
        font-size: 14px;
        color: $gray-text-color;
        margin-bottom: 8px;
    }
    &__input {
        width: 270px;
        padding: 13px 16px;
        border-radius: 6px;
        outline: none;
        border: 1px solid $gray-line-color;
        transition: border-color 0.2s linear;
        &:focus {
            border-color: $primary-color;
        }
        &--error {
            border-color: $red-color;
        } 
        @media(max-width: 900px) {
            width: 500px;
        }
        @media(max-width: 600px) {
            width: 400px;
        }
        @media(max-width: 520px) {
           width: 270px;
        }
    }
    &__btns {
        margin-bottom: 16px;
        @media(max-width: 520px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__btn {
        padding: 13px 51px;
        background-color: $white-color;
        font-size: 16px;
        color: $black-color;
        border-radius: 6px;
        transition: color, background-color 0.2s linear;
        &:hover {
            background-color: $primary-color;
        }
        &:not(:last-child) {
            margin-right: 15px;
            @media(max-width: 520px) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        &--active {
            color: $white-color;
            background-color: $primary-color;
        }
        &--disabled {
            background-color: $gray-text-color;
            color: $white-color;
            border-color: $gray-text-color;
            cursor: not-allowed;
        }
    }
    &__delivery {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 600px) {
            flex-direction: column;
            justify-content: center;
        }
    }
    &__summary {
        font-weight: 600;
        font-size: 20px;
        color: $primary-color;
        @media(max-width: 520px) {
            margin-bottom: 15px;
        }
    }
    &__info {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 30px;
        @media(max-width: 600px) {
            text-align: center;
        }
    }
    &__link {
        display: inline-block;
        margin-left: 10px;
        transition: color 0.3s linear;
        &:hover {
            color: $primary-color;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 520px) {
            flex-direction: column;
        }
    }
}