@import '../../variables.scss';

.cart-added {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    position: fixed;
    top: 100px;
    left: 85%;
    transform: translate(-50%, 0);
    color: $primary-color;
    background-color: $primary-light-color;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 5;
    @media(max-width: 900px) {
        left: 80%;
    }
    @media(max-width: 770px) {
        max-width: 210px;
        left: 69%;
        font-size: 14px;
    }
    @media(max-height: 900px) {
        top: 90px;
    }
    @media(max-width: 600px) {
        left: 50%;
        top: 85px;
    }
    @media(max-width: 500px) {
        font-size: 14px;
    }
    &--active {
        opacity: 1;
    }
}