.logo {
    display: flex;
    align-items: center;
    &--footer {
        display: flex;
        align-items: center;
        & h1 {
            font-size: 18px;
            font-weight: 400;  
        }
        & img {
            width: 32px;
            height: 32px;
            margin-right: 12px;
        }
        @media(max-width: 991px) {
            width: 100%;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
    & img {
        width: 32px;
        height: 32px;
        margin-right: 12px;
    }
    & h1 {
        font-size: 18px;
        font-weight: 400;
        @media(max-width: 600px) {
            font-size: 0;
        }
    }
}