@import '../../variables.scss';

.filter {
    max-width: 250px;
    &--active {
        position: static;
    }
    &__button {
        display: flex;
        padding: 9px 16px;
        font-size: 16px;
        background-color: $white-color;
        border: 1px solid $gray-line-color;
        border-radius: 6px;
        transition: transform 0.3s ease-in-out;
        &--active {
            transform: translateY(-10px);
        }
        @media(min-width: 992px) {
            &:hover .filter__img {
                fill: $primary-color;
            }
        }
    }
    &__img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        transition: fill 0.3s linear;
        &--active {
            fill: $primary-color;
        }
    }
    &__list {
        position: absolute;
        width: 200px;
        top: 70px;
        right: 0;
        background-color: $white-color;
        border-radius: 6px;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        &--active {
            opacity: 1;
            z-index: 10;
        }
    }
    &__item {
        cursor: pointer;
        width: 200px;
        padding: 5px;
        font-size: 16px;
        border-bottom: 1px solid $gray-line-color;
        background-color: inherit;
        transition: background-color 0.3s linear;
        border-radius: 6px;
        &--active {
            background-color: $gray-text-color;
        }
        &:last-child {
            border-bottom: none;
        }
        @media(min-width: 992px) {
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}