@import '../../variables.scss';

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 16px 0;
    margin-bottom: 30px;
    background-color: $white-color;
    z-index: 10;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__cart {
        display: flex;
        align-items: center;
        color: $white-color;
        background-color: $primary-color;
        padding: 8px 16px;
        border-radius: 4px;
        & img {
            margin-right: 8px;
        }
        @media(max-width: 350px) {
            font-size: 10px;
            padding: 8px 10px;
        }
    }
}