//colors
$white-color: #FFFFFF;
$black-color: #191919;
$primary-color: #FF7010;
$gray-text-color: #A5A5A5;
$gray-line-color: #F0F0F0;
$gray-background-color: #F9F9F9;
$red-color:  #E23535;
$green-color: #24D17E;