@import '../../variables.scss';

.nav {
    @media(max-width: 991px) {
        display: none;
    }
    &__list {
        display: flex;
    }
    &__list-column {
        display: flex;
        flex-direction: column;
        .nav__item {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    &__item {
        font-size: 16px;
    }
    &__item:not(:last-child) {
        margin-right: 32px;
        @media(max-width: 1170px) {
            margin-right: 20px;
        }
    }
    &__link {
        padding-bottom: 5px;
        transition: border-bottom 0.1s ease-in-out;
        &--active {
            border-bottom: 3px solid $black-color;
        }
        &:hover {
            border-bottom: 3px solid $black-color;
        }
    }
}

.nav-mobile {
    margin-top: 80px;
    margin-left: 50px;
    z-index: 100;
    @media(max-height: 700px) {
        margin-top: 30px;
    }
    @media(max-height: 500px) {
        margin-top: 50px;
    }
    &__list-column {
        display: flex;
        flex-direction: column;
    }
    &__item {
        font-size: 18px;
        margin-bottom: 30px;
        @media(max-height: 500px) {
            margin-bottom: 15px;
        }
    }
    &__item:not(:last-child) {
        margin-right: 32px;
    }
    &__link {
        padding-bottom: 5px;
        transition: border-bottom 0.1s ease-in-out;
        &--active {
            border-bottom: 3px solid $black-color;
        }
        @media(min-width: 992px) {
            &:hover {
                border-bottom: 3px solid $black-color;
            }
        }
    }
}